<!DOCTYPE html>
<html>
<head>
    <title>Mappa del Percorso</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_MAPS_API_KEY"></script>
    <script>
        function initialize() {
            var mapOptions = {
                zoom: 15,
                center: new google.maps.LatLng({{ start_location.lat }}, {{ start_location.lng }}),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

            var polylinePath = google.maps.geometry.encoding.decodePath('{{ polyline }}');

            var path = new google.maps.Polyline({
                path: polylinePath,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            path.setMap(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
    <div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
